.bg-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: auto;
    background-image: url("https://res.cloudinary.com/dqkvvulgz/image/upload/v1760419433/file_000000004a6462088d9fa965bbb3e662_s1qjjx.png");
    padding: 15px;
    background-size: cover;
    background-position: center;
    font-family: "Roboto";
}
.heading{
 font-size: 36px;
 color: rgb(240, 232, 232);
 font-family: "sans-serif";
}
.job{
  color: rgb(205, 204, 204);
  font-size: 24px;
}
.decor-text{
  color: #c4c1c1;
  font-weight: 400;
  font-size: 20px;
}
