
.list-item{
    font-family: "Roboto";
    font-size: 20px;
    color: #ffffff;
    text-decoration:underline;
    margin: 10px;
}

.nav-link{
    text-decoration: none;
}

@media(max-width:768px){
    .navbar-list{
        display: none;
    }
    .icon{
        color: #ffffff;
        display: block;
      position: absolute;
      top: 7px;
      right: 6px;
    }
    .menu-btn{
        background-color: transparent;
        border: none;
    }
    .menu-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: #ffffff;
        height: 250px;
        top: 30px;
        width: 150px;
        right: 10px;
        position: absolute;
    }
    .navbar-container{
    min-height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #020222;
    
}
.site-logo{
    width: 200px;
    height: 120px;
    position: absolute;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-btn-container{
    display: block;
}
}

@media(min-width:769px){
 .navbar-list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-container{
     height: 10vh;
    display: flex;
    align-items: center;
    background-color:  #020222;
}
.menu-btn{
    display: none;
}
.menu-container{
    display: none;
}
.site-logo{
    width: 200px;
    height: 120px;
    margin: 8px;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-btn-container{
    display: none;
}
}

